output_20220223.zip
Eurostat_Gestorbene_Geschl_Ag_90+_Kreise_2013_2018_Spalten.xlsx
Referenz Gemeinden-GVB-Kreise_NUTSCorrected20201103.xlsx
Sterbefälle_AlterG60-90_Geschl_Kreis_2018.xlsx
ebeling_20220104_4054_2019_fdz.xlsx
ebeling_anonym.sas7bdat
ebeling_denom_anonym.sas7bdat
externalDataDRG2010_Version20200626.txt
externalDataDRG2011_Version20200626.txt
externalDataDRG2012_Version20200626.txt
externalDataDRG2013_Version20200626.txt
externalDataDRG2014_Version20200626.txt
externalDataDRG2015_Version20200626.txt
externalDataDRG2016_Version20200626.txt
externalDataDRG2017_Version20200626.txt
externalDataDRG2018_Version20200624.txt
inkar_PopDensity_RegionTyp.csv
